# Analysis of Netflix Movies and TV Shows

### Content
+ Introduction: What is Netflix?
+ Data description and objectives
+ Data acquisition, manipulation and validation
+ Data analysis and visualization 
+ Conclusion

## 1. Introduction: What is Netflix?

Netflix, Inc. is an American technology and media services provider and production company headquartered in Los Gatos, California. Netflix was founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California. The company's primary business is its subscription-based streaming service which offers online streaming of a library of films and television series, including those produced in-house. As of April 2020, Netflix had over 193 million paid subscriptions worldwide, including 73 million in the United States.It is available worldwide except in the following: mainland China (due to local restrictions), Syria, North Korea, and Crimea (due to U.S. sanctions). The company also has offices in France, United States, United Kingdom, Brazil, the Netherlands, India, Japan, and South Korea. Netflix is a member of the Motion Picture Association (MPA). Today, the company produces and distributes content from countries all over the globe.

Netflix's initial business model included DVD sales and rental by mail, but Hastings abandoned the sales about a year after the company's founding to focus on the initial DVD rental business. Netflix expanded its business in 2007 with the introduction of streaming media while retaining the DVD and Blu-ray rental business. The company expanded internationally in 2010 with streaming available in Canada, followed by Latin America and the Caribbean. Netflix entered the content-production industry in 2013, debuting its first series House of Cards.

Since 2012, Netflix has taken more of an active role as producer and distributor for both film and television series, and to that end, it offers a variety of "Netflix Original" content through its online library. By January 2016, Netflix services operated in more than 190 countries. Netflix released an estimated 126 original series and films in 2016, more than any other network or cable channel. On July 10, 2020, Netflix became the largest entertainment/media company by market cap.

Source (https://en.wikipedia.org/wiki/Netflix)

## 2. Data description and objectives

It is clear from the description that Netflix has a large dataset of its movies and TV shows. Since Netflix is the largest entertainment/media company by market cap, there is an obvious increasing trend in watching TV shows and movies on Netflix worldwide, which means Netflix is becoming more and more popular. Consequently, it is interesting to know why does Netflix is so popular. Moreover, it contains loads of data we could use to do analysis, therefore, can also provide many interesting findings.

Our analysis will be based on data of the year 2020 because it has the most recent and available data on Netflix. Below is data that we will be scraped and used for our analysis:
+ ID - unique ID for every Movie / Tv Show
+ Type - an identifier (a Movie or TV Show)
+ Title - title of the Movie / Tv Show
+ Director - director of the Movie
+ Cast - actors involved in the movie / show
+ Country - country where the movie / show was produced
+ Date_added - date it was added on Netflix
+ Release_year - actual release year of the move / show
+ Rating - TV Rating of the movie / show
+ Duration - total Duration - in minutes or number of seasons
+ Listed in - genere of the movie / show
+ Description - summary description of the movie / show

For this project, data analysis and visualization contains 3 parts:
1. Analyze countries where the movie or show was produced in the Netflix dataset
2. Analyze genres of the movies and shows in the Netflix dataset
3. Analyze and group the movies and shows in the Netflix dataset by their types

There are 8 questions I will answer during the analyze of the dataset:
1. In what years have more TV series been released than films in Asia?
2. Which countries have released more films in each year in the last 20 years?
3. What genres are popular in each country?
4. What is the average length of films in each genre?
5. Over the past 10 years, what has been filmed more: films or TV series?
6. What was the highest rated in 2019: movies or TV shows?
7. In which month were the most films and TV series added for the entire period?
8. What films did Angelina Jolie star in?

## 3. Data acquisition, manipulation and validation

### 3.1. Data acquisiton: Scrap companies data from Fortune 500 website
We are going to retrieve data from the dataset, which was downloaded from the Kaggle webpage. The dataset contains list of 6172 TV shows and movies available on Netflix up to 2019. The dataset is collected from Flixable which is a third-party Netflix search engine. 

Source (https://www.kaggle.com/shivamb/netflix-shows)

In [198]:
# import all modules that will be used
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup 
import csv
import datetime as dt

In [199]:
# to print all the data from the csv file
df = pd.read_csv (r'/Users/air/Documents/AITU/4th/Data Analytics/project/netflix_dataset.csv')
print (df)

       show_id     type                                        title  \
0     81145628    Movie      Norm of the North: King Sized Adventure
1     80117401    Movie                   Jandino: Whatever it Takes
2     70234439  TV Show                           Transformers Prime
3     80058654  TV Show             Transformers: Robots in Disguise
4     80125979    Movie                                 #realityhigh
...        ...      ...                                          ...
6229  80000063  TV Show                                 Red vs. Blue
6230  70286564  TV Show                                        Maron
6231  80116008    Movie       Little Baby Bum: Nursery Rhyme Friends
6232  70281022  TV Show  A Young Doctor's Notebook and Other Stories
6233  70153404  TV Show                                      Friends

                      director  \
0     Richard Finn, Tim Maltby
1                          NaN
2                          NaN
3                          NaN
4             Fernando Lebrija
...                        ...
6229                       NaN
6230                       NaN
6231                       NaN
6232                       NaN
6233                       NaN

                                                   cast  \
0     Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                      Jandino Asporaat
2     Peter Cullen, Sumalee Montano, Frank Welker, J...
3     Will Friedle, Darren Criss, Constance Zimmer, ...
4     Nesta Cooper, Kate Walsh, John Michael Higgins...
...                                                 ...
6229  Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...
6230  Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...
6231                                                NaN
6232  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6233  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...

                                       country         date_added  \
0     United States, India, South Korea, China  September 9, 2019
1                               United Kingdom  September 9, 2016
2                                United States  September 8, 2018
3                                United States  September 8, 2018
4                                United States  September 8, 2017
...                                        ...                ...
6229                             United States                NaN
6230                             United States                NaN
6231                                       NaN                NaN
6232                            United Kingdom                NaN
6233                             United States                NaN

      release_year    rating    duration  \
0             2019     TV-PG      90 min
1             2016     TV-MA      94 min
2             2013  TV-Y7-FV    1 Season
3             2016     TV-Y7    1 Season
4             2017     TV-14      99 min
...            ...       ...         ...
6229          2015        NR  13 Seasons
6230          2016     TV-MA   4 Seasons
6231          2016       NaN      60 min
6232          2013     TV-MA   2 Seasons
6233          2003     TV-14  10 Seasons

                                              listed_in  \
0                    Children & Family Movies, Comedies
1                                       Stand-Up Comedy
2                                              Kids' TV
3                                              Kids' TV
4                                              Comedies
...                                                 ...
6229  TV Action & Adventure, TV Comedies, TV Sci-Fi ...
6230                                        TV Comedies
6231                                             Movies
6232           British TV Shows, TV Comedies, TV Dramas
6233                     Classic & Cult TV, TV Comedies

                                            description
0     Before planning an awesome wedding for his gra...
1     Jandino Asporaat riffs on the challenges of ra...
2     With the help of three human allies, the Autob...
3     When a prison ship crash unleashes hundreds of...
4     When nerdy high schooler Dani finally attracts...
...                                                 ...
6229  This parody of first-person shooter games, mil...
6230  Marc Maron stars as Marc Maron, who interviews...
6231  Nursery rhymes and original music for children...
6232  Set during the Russian Revolution, this comic ...
6233  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

### 3.2. Data manipulation: cleaning and shaping
Initially, we need to create a data frame from the list of all movies and TV shows (printed from the file at previous step).

At this step, we have almost ready dataset, however we need to do the following:
+ replace invalid values by NaN 
+ change type of some columns from string to float or int
+ convert some values from million to billion (divide by 1000)
+ obtain headquareters' city and state in separate columns 
+ solve problem related to headquareters (import another dataset and merge it)
+ check if there are any inconsistencies, eliminate if any

In [200]:
# to print all the data from the csv file in the data frame
df = pd.read_csv("netflix_dataset.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [201]:
# create a dataframe from the list of all companies data
df = pd.DataFrame(df)

# rename all the columns of the dataframe
df.columns = ["ID", "Type", "Title", "Director", "Cast", \
              "Countries", "Date added", "Release year", "Rating", \
              "Duration", "Listed in", "Description"]

df.head(5)

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [202]:
# missed values are given by "-", which needs to be replaced by nan
df.replace("-", np.nan, inplace = True)
df.head(10)

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azor√≠n, Ver√≥nica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [203]:
# to show how many rows in the dataset (6233)
df.tail(5)

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [204]:
# some columns with numeric values should be converted to int type
df = df.astype({"ID": "int", "Release year": "int"})

df.head(2)

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...

In [206]:
# columns which has not NaN value should be checked (True maens there is no NaN value, False means there is NaN value)
ndf = df.notnull()
ndf.all()

ID               True
Type             True
Title            True
Director        False
Cast            False
Countries       False
Date added      False
Release year     True
Rating          False
Duration         True
Listed in        True
Description      True
dtype: bool

In [207]:
# Rows with NaN values should be deleted (Now we have 3774 rows)
ndf = df.notnull()
df = df[ndf["Director"]]
df = df[ndf["Cast"]]
df = df[ndf["Countries"]]
df = df[ndf["Date added"]]
df = df[ndf["Rating"]]
df

<ipython-input-207-e1117a147baf>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[ndf["Cast"]]
<ipython-input-207-e1117a147baf>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[ndf["Countries"]]
<ipython-input-207-e1117a147baf>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[ndf["Date added"]]
<ipython-input-207-e1117a147baf>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[ndf["Rating"]]

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
...,...,...,...,...,...,...,...,...,...,...,...,...
6142,80063224,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"August 30, 2019",2019,TV-PG,7 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
6158,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady..."
6167,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...
6182,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...
6213,80126599,TV Show,Leyla and Mecnun,Onur √únl√º,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...

In [208]:
# columns which has not NaN value should be checked one more time
ndf = df.notnull()
ndf.all()

ID              True
Type            True
Title           True
Director        True
Cast            True
Countries       True
Date added      True
Release year    True
Rating          True
Duration        True
Listed in       True
Description     True
dtype: bool

In [209]:
# column "Countries" has listed several countries in it, so each country should be separated to different rows, 
# so first we look for dublicated datas
d = df.duplicated()

In [210]:
d[d].index.values

array([], dtype=int64)

In [211]:
# data should be splitted
df['Countries'] = df['Countries'].str.split(',')

In [212]:
# separating to different rows and renamed the column name to "Country"
df2 = (df.set_index(['ID'])['Countries'].apply(pd.Series)
 .stack()
 .reset_index()
 .drop('level_1', axis=1)
 .rename(columns={0:'Country'})
)

In [213]:
df2
# now we have 4798 rows

            ID         Country
0     81145628   United States
1     81145628           India
2     81145628     South Korea
3     81145628           China
4     80125979   United States
...        ...             ...
4793  80164216           Japan
4794  80115328           India
4795  80115328   United States
4796  80176842     South Korea
4797  80126599          Turkey

[4798 rows x 2 columns]

In [214]:
# we merged two tables
pd.merge(df,df2,on='ID')

,ID,Type,Title,Director,Cast,Countries,Date added,Release year,Rating,Duration,Listed in,Description,Country
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","[United States, India, South Korea, China]","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,United States
1,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","[United States, India, South Korea, China]","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,India
2,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","[United States, India, South Korea, China]","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,South Korea
3,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","[United States, India, South Korea, China]","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,China
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",[United States],"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4793,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","[France, South Korea, Japan]","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady...",Japan
4794,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","[India, United States]","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...,India
4795,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","[India, United States]","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...,United States
4796,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",[South Korea],"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...,South Korea
4797,80126599,TV Show,Leyla and Mecnun,Onur √únl√º,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",[Turkey],"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...,Turkey